/* Definitions */
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import "libs/vars";
@import "libs/functions";

/* Components */
@import "components/reset";
@import "components/landing/main-banner";
@import "components/scroll-to-top";


::-webkit-scrollbar {
    width: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


