/* Definitions */
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import "libs/vars";
@import "libs/functions";


/* Components */
@import "components/reset";
@import "components/scroll-to-top";
@import "components/app/header";
@import "components/app/footer";
@import "components/app/side-nav";
@import "components/app/overview-manager";
@import "components/app/tile-dropdown";
@import "components/app/datepicker";
@import "components/app/notification-bubble";
@import "components/app/modals";


/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

