/* Definitions */
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import "libs/vars";
@import "libs/functions";


/* Components */

@import "components/reset";
@import "components/header";
@import "components/side-nav";
@import "components/overview-manager";
@import "components/tile-dropdown";
@import "components/scroll-to-top";



/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.notification-bubble {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ff6666;
    color: white;
    top: 5px;
    right: 7px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    border-radius: 30px;
    display: inline-block
}




.model__full {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 12;
    background-color: rgba(0, 0, 0, .4);    
    overflow: auto;
    display: none;
    position: fixed;
    z-index: 100; /* Just go above everything else */
    text-align: center;
    color: black;

    .model__container {
        max-width: 700px;
        margin: 100px auto;
    }

    .model__content {
        position: relative;
        background-color: white;
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, .2);
        box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
        display: block;
        font-size: 18px;
        line-height: 1.2;
        margin: 0 30px;            

        .model__desc {
            padding: 20px 40px 0 40px;

            a.add {
                background-color: getColor(noti-green);
                padding: 10px;
                border-radius: 6px;
                display: inline-block;
                color: white;
                margin-top: 20px;

                &:hover {
                    background-color: getColor(hover-green);
                }
            }
        }

        span.model__close {
            color: rgba(0, 0, 0, .3);
            font-size: 25px;
            margin: 20px 40px;
            cursor: pointer;
            font-weight: bold;
            display: inline-block;

            &:hover {
                color: black;
            }
        }

        .model__title{
            border-bottom: 1px solid #ddd;
            padding: 20px 0;

            span {
                padding: 0 40px;
            }
        }
    }
}