/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

*{
    box-sizing: content-box;
}

/* #################################################################################
                                    STYLING START
####################################################################################*/

html, body{
    width: 100%;
    height: 100%;
    color: black; /* Default font color */
    font-family: 'Open Sans', sans-serif;
    /*background-color: #EBEEF5;*/
}


/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */

 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* #################################################################################
                                      HEADER
####################################################################################*/

header{
    width: 100%;
    height: 80px;
    /*background-color: #006295;
    position: fixed;
    top:*/
}

.header-contents{
    margin-left: 80px;
}


/* #################################################################################
              SIDE NAVIGATION STYLING (INCLUDING BUTTONS AND ICONS)
####################################################################################*/

#side-navigation{
    height: 100%;
    width: 80px;
    float: left;
    background-color: #28303d;
    overflow: hidden;
    position: fixed;
    top: 0;
}

ul.icon-list{
    color: white;
    list-style-type: none;
    position: relative; /* for bottom + */
    height: 100%;
}

.icon-list .icon{
    width: 80px;
    height: 80px;
    padding: 8px 0;
    position: relative; /* For notification bubbles */
    transition: .3s;
}

.icon-list .icon.profile{
    background-color: #006295;
    padding: 0;
}

.icon-list .icon.last{
    position: absolute;
    bottom: 0;
}

.icon-list .icon img{
    width: 40%;
    height: 40%;
    margin: 30%;
}

.icon-list .icon.profile img{
    border-radius: 20px;
}

.icon-list .icon.button:hover{
    border-left: 3.2px solid #006295;
    transition: .3s;
    background-color: #323d4e;
 
}

.notification-bubble{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ff6666;
    color: white;
    top: 5px;
    right: 7px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    border-radius: 10px;
    display: none; 
}

/* #################################################################################
              OVERVIEW MANAGER AND TABLE STYLING (INCLUDING TILES)
####################################################################################*/

#overview-manager{
    margin-left: 80px;
    /*margin-top: 80px;*/
}

.table-overview{
    width: 100%; 
    font-size: 0; 
    color: #2a6496;
}

.table-row{
    width: 100%;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: .3s;
}

.table-row.user{
    box-shadow: 0px 3px 5px rgba(0,0,0,.125), 0px -3px 5px rgba(0,0,0,.125);;
}

.table-cell.button:hover{
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    background-color: #cce6ff;
    transition: .4s;
}

.table-cell .cell-content.first:hover, .table-cell.button:hover{
    text-decoration: underline;
}

.table-cell.button.empty:hover{
    background-color: #ff9999;
}

.table-cell{
    width: 12.5%;
    height: 70px;
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    text-align: left;
}

.table-cell.holiday{
    color: #ff6666;
    font-weight: bold; 
}

.table-header{
    font-weight: bold;
    font-size: 15px;
    color: black;
    cursor: default;  
    height: 80px;
}

.row-header{
    background-color: #f2f2f2;
    border-radius: 2px 2px 0 0;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125); 
}

.cell-content{
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;   
    overflow: hidden;
}

.cell-content .text-contents{
    margin-left: 20px;
}

.cell-content .text-contents span{
    display: block;
    padding: 4px 0;
}

.cell-content.first{
    border-right: 1px solid #ddd;
    font-size: 16px;
    color: #006bb2;
    overflow-wrap: break-word;
}

.cell-content.first .text-contents{
    display: flex;
    align-items: center;
}

.cell-content.first span{
    padding-left: 10px;
}

.img-small{
    width: 12.5px;
    height: 12.5px;
    padding-right: 4px;
}

.user-pic{
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

.day{
    font-size: 30px;
}


@media (max-width: 1000px){

    .cell-content .text-contents span:nth-child(2), .img-small{
        display: none;
    }

    .cell-content .text-contents span.day{
        display: block;
    }

    .cell-content{
        justify-content: center;
        text-align: center;
    }

    .cell-content .text-contents{
        margin: 0;
    }

}



@media (max-width: 650px){
    header{
        display: none;
    }

    #side-navigation{
        width: 100%;
        height: 55px;
        float: none;
        top: 0;
    }

    #overview-manager{
        margin-left: 0;
        margin-top: 55px;
    }

    .icon-list .icon{
        padding: 0;
        width: 55px;
        height: 55px;
    }

    ul.icon-list li{
        float: left;
    }

    .icon-list .icon.last{
        right: 0;
        bottom: auto;
    }

    .icon-list .icon.button:hover{
        border-left: none;
        border-top: 2px solid #49b67c;
    }



    .cell-content .text-contents small{
        display: none;
    }
   
}

@media (max-width: 300px){
    #overview-manager{
        margin-top: 40px;
    }

    #side-navigation{
        height: 40px;
    }

    .icon-list .icon{
        width: 40px;
        height: 40px;
    }
}
