#overview-manager{
    margin-left: getElemSize(side-nav);

    @include step2{
        margin-left: 0;
        margin-top: 55px;
    }

    @include step4{
        margin-top: 40px;
    }

    .table-overview{
        width: 100%;
        font-size: 0;
        color: getColor(overview-fg);

        .table-row{
            width: 100%;
            border-bottom: 1px solid #ddd;
            cursor: pointer;
            transition: .3s;

            &.user{
                box-shadow: 0px 3px 5px rgba(0,0,0,.125), 0px -3px 5px rgba(0,0,0,.125);   
            }

            .table-header{
                font-weight: bold;
                font-size: getFontSize(overview-header);
                color: getColor(default-fg);
                cursor: default;  
                height: getElemSize(row-header);
            }
        }

        .row-header{
            background-color: getColor(row-header-bg);
            border-radius: 2px 2px 0 0;
            box-shadow: inset 0 3px 5px rgba(0,0,0,.125); 
        }
    }
}

.table-cell{
    width: 12.5%;
    height: getElemSize(row-cell);
    display: inline-block;
    font-size: getFontSize(overview-default);
    vertical-align: top;
    text-align: left;
    position: relative;

    @include step3{
        font-size: getFontSize(overview-default) - 2.5px;
    }

    @include step4{
        font-size: getFontSize(overview-default) - 5px;
    }

    &.today{     
        &::before{
            box-shadow: -15px 0 15px -15px #bbb inset;
            content: " ";
            height: 100%;
            top: 0;
            left: -15px;
            position: absolute;
            width: 15px;
        }
        
        &::after{
            box-shadow: 15px 0 15px -15px #bbb inset;
            content: " ";
            height: 100%;
            position: absolute;
            top: 0;
            right: -15px;
            width: 15px;
        }
    }

    .cell-content{
        width: 100%;
        height: 100%; 
        display: flex;
        align-items: center;   
        overflow: hidden;

        @include step1{
            justify-content: center;
            text-align: center;
        }
        
        .text-contents{
            @include step1{
                margin: 0;
            }

            span{
                &:nth-child(2){
                    @include step1{
                        display: none;
                    }
                }

                &.day{
                    font-size: 30px;

                    @include step1{
                        display: block;
                    }

                    @include step3{
                        font-size: 22px;
                    }
                }
            }

            .user-pic{
                width: 30px;
                height: 30px;
                border-radius: 20px;

                @include step4{
                    width: 22px;
                    height: 22px;
                }
            }
        }

        &.first{
            /*border-right: 1px solid getColor(overview-border);*/
            color: getColor(row-names-fg);
            overflow-wrap: break-word;

            &:hover{
                text-decoration: underline;
            }

            span{
                padding-left: 10px;
            }

            .text-contents{
                display: flex;
                align-items: center;             
            }
        }  
    }

    &.holiday{
        color: getColor(noti-red);
        font-weight: bold;
    }

    .notification-bubble{
        right: 0;
        top: -15px;
        width: getElemSize(overview-noti-bubble);
        height: getElemSize(overview-noti-bubble);
        line-height: getElemSize(overview-noti-bubble);
        font-weight: bold;
    }

    &.button{
        &:nth-child(even){
            /* Side border so that content doesn't overlap display width */
            box-shadow: -1px 0 0 getColor(overview-border), 1px 0 0 getColor(overview-border);
        }
        
        &:hover{
            box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
            background-color: getColor(overview-hover-blue);
            transition: .4s;
            text-decoration: underline;
        }

        &.empty:hover{
            background-color: getColor(hover-red);
        }
        
    }
}

.text-contents{
    margin-left: 20px;

    &.responsive{
        .img-small{
            @include step1{
                display: none;
            }
        }
    }

    span{
        display: block;
        padding: 4px 0;
    }

    .img-small{
        width: 12.5px;
        height: 12.5px;
        padding-right: 4px;
    } 
}

