.cell__dropdown{
    background-color: getColor(dropdown-bg);
    position: absolute;
    z-index: 9;
    min-width: getElemSize(dropdown-min);
    top: 0;
    left: 0;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    overflow: hidden;
    cursor: default;
    display: none;
    height: 0;


    .cell__text-content{
        padding-top: 5px;
        padding-bottom: 5px;  
        margin-right: 20px;
        color: black;

        &:first-child{
            padding-top: 15px;
        }

        &.cell__text-content--index{
            color: black;
            border-bottom: 1px solid #ddd;
            padding-bottom: 2.5px;
        }      
    }
}

span{
    &.text-content__tools{
        text-align: center;

        img{
            width: 16px;
            height: 16px;
            background-color: getColor(noti-red);
            padding: 8px;
            border-radius: 6px;
            cursor: pointer;
            margin: 0 5px;

            &:hover{
                background-color: getColor(hover-red-dark);
            }

            &.text-content__tools--blue {
                background-color: getColor(row-names-fg);

                &:hover {
                    background-color: getColor(noti-blue);
                }
            }

            &.text-content__tools--green {
                background-color: getColor(noti-green);

                &:hover {
                    background-color: getColor(hover-green);
                }
            }          
        }      
    }

    &.dropdown__button{
        display: block;
        color: white;
        cursor: pointer;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            width: 18px;
            height: auto;
        }

        &.dropdown__button--add{
            margin-top: 10px;
            background-color: getColor(noti-green);

            &:hover{
                background-color: getColor(hover-green);
            }
        }

        &.dropdown__button--return{
            background-color: getColor(row-names-fg);

            &:hover{
                background-color: getColor(noti-blue);
            }
        }
    }
}

.text-content__desc {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 12;
    background-color: rgba(0, 0, 0, .4);    
    overflow: auto;
    display: none;

    .desc__container {
        max-width: 700px;
        margin: 100px auto;
    }

    .desc__content {
        position: relative;
        z-index: 11;
        background-color: white;
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, .2);
        box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
        display: block;
        font-size: 18px;
        line-height: 1.2;
        margin: 0 30px;            

        span.desc__desc {
            padding: 20px 40px 0 40px;
        }

        span.desc__close {
            color: rgba(0, 0, 0, .3);
            font-size: 25px;
            margin: 20px 40px;
            cursor: pointer;
            font-weight: bold;
            display: inline-block;

            &:hover {
                color: black;
            }
        }

        .desc__title{
            border-bottom: 1px solid #ddd;
            padding: 20px 0;

            span {
                padding: 0 40px;
            }
        }
    }
}