.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
  margin: 0;
  padding: 0;
  border: none;
  border-spacing: 0;
}

#date-selector {
    display: flex;
}

.ui-datepicker {
    margin: 45px 0;
    z-index: 10 !important;

    table {
        padding: 10px;
        display: block;
    }

    thead {
        background-color: white;
        font-size: 14px;

        tr th {
            padding: 10px 4px;
        }
    }

    select {
        cursor: pointer;

        &.ui-datepicker-month, &.ui-datepicker-year {
            background: inherit;
            color: white;
            padding: 0 2px;
            border: none;

            option {
                color: black;
            }
        }
    }
}

.ui-datepicker-header {
    background-color: getColor(side-nav-fg);
    line-height: 30px;
    color: white;
    padding: 5px 10px;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-prev, .ui-datepicker-next {
    cursor: pointer;
    display: inline-block;
    width: 14px;
    height: 11px;
    text-align: center;
    background-image: url("/zero-hour-contractor/media/img/icons/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    line-height: 600%;
    overflow: hidden;
    margin-top: 10px;
}

.ui-datepicker-prev {
    float: left;
    transform: rotate(270deg);
  }

.ui-datepicker-next {
    float: right;
    transform: rotate(90deg);
}

.ui-datepicker-calendar {
    background: white;
    padding: 10px;

    td {
        text-align: center;
        padding: 2px;

        &.highlight-date a {
            background: getColor(overview-hover-blue);
        }

        &.ui-datepicker-today a{
            background: getColor(noti-red);
            // border-radius: 20px;

            &:hover {
                background: getColor(hover-red-dark);
            }
        }

        a {
            color: black;
            padding: 10px;
            display: block;

            &.ui-state-highlight {
                color: white;
            }

            &:hover {
                background: getColor(overview-hover-blue);
            }
        }
    }

    .ui-datepicker-other-month .ui-state-default {
        color: #ccc;
    }
}

.ui-datepicker-buttonpane {
    text-align: center;
    background: white;
    box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.125);
    padding-bottom: 10px;

    button {
        border: none;
        background: inherit;
        cursor: pointer;
        color: white;
        background: getColor(row-names-fg);
        padding: 8px;
        border-radius: 4px;

        &:hover {
            background: getColor(noti-blue);
         
        }

        &.ui-datepicker-close {
            display: none;
        }
    }
}

.ui-datepicker-trigger {
    width: 20px;
    height: 20px;
    padding: 6px;
    cursor: pointer;
}