/* Default notification bubble */
.notification-bubble {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ff6666;
    color: white;
    top: 5px;
    right: 7px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    border-radius: 30px;
    display: inline-block;
    
    &--today, &--desc {
        line-height: 35px;
        background-color: lighten(getColor(noti-blue), 13%);

        img {
            width: 15px;
            height: 15px; 
        }
    }

    .tool-tip {
        background-color: getColor(side-nav-bg);
        font-size: 13px;
        padding: 6px;
        border-radius: 6px;
        position: absolute;
        z-index: 4;
        white-space: nowrap;
        line-height: normal;
        font-weight: normal;
        left: 0;
        display: none;
    }

    // &[data-tool-tip] {
    //     align-items: center;
    //     &::before {
    //         content: attr(data-tool-tip);
    //         display: block;
    //         position: absolute;
    //         left: 0;
    //         background-color: getColor(side-nav-bg);
    //         color: white;
    //         transform: scale(0);
    //         white-space: nowrap;
    //         font-size: 13px;
    //         padding: 6px;
    //         line-height: normal;
    //         transition: transform ease-out 115ms,
    //                 left ease-out 115ms;
    //         font-weight: normal;
    //         border-radius: 6px;
    //         z-index: 4;
    //     }

    //     &:hover::before {
    //         transform: scale(1);
    //         left: 35px;
    //     } 
    // }
}


